<ul class="pagination">
    <li  class="{firstPageClass}" id="firstPage">
        <a href = "#" >
            <span></span> &nbsp;
        </a>
    </li>
    <li class="{prevPageClass}" id="prevPage">
        <a href = "#" >
            <span></span> &nbsp;
        </a>
    </li>
    <li class="disabled" id="currPage">
        <a>{currPage} di {totalPages}</a>
    </li>
    <li class="{nextPageClass}" id="nextPage">
        <a href = "#" >
            <span></span> &nbsp;
        </a>
    </li>
    <li class="{lastPageClass}" id="lastPage">
        <a href = "#" >
            <span></span> &nbsp;
        </a>
    </li>
</ul>